# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# this is going straight to cpanel so
.ddev

# legacy config from drupal 6
files

# there is stuff on emwd already
backups
cgi-bin
e
.ftpquota