body {
    font-family: sans-serif;
}

p, ul, ol {
    font-size: 1.25em;
}

.breadcrumb {
  display: none;
}

.inset {
    margin: 1em 0 1em 2em;
}

#block-user-login .item-list li.first {
display:none;
}

.sidebar .block {
    border: none;
}
